<a href="https://colab.research.google.com/github/JuniorGunner/kaggle/blob/master/Exercises/01_kaggle_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Kaggle - Machine Learning Exercise

## Imports

In [0]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

## Tests

In [6]:
df = pd.read_csv('sample_data/california_housing_train.csv')

df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [10]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

## Remove 'not availables'

In [0]:
df = df.dropna(axis=0)

## Target (y)

In [0]:
y = df.median_house_value

## Features (X)

In [12]:
df_features = ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms']

X = df[df_features]

X.describe()

          longitude      latitude  ...   total_rooms  total_bedrooms
count  17000.000000  17000.000000  ...  17000.000000    17000.000000
mean    -119.562108     35.625225  ...   2643.664412      539.410824
std        2.005166      2.137340  ...   2179.947071      421.499452
min     -124.350000     32.540000  ...      2.000000        1.000000
25%     -121.790000     33.930000  ...   1462.000000      297.000000
50%     -118.490000     34.250000  ...   2127.000000      434.000000
75%     -118.000000     37.720000  ...   3151.250000      648.250000
max     -114.310000     41.950000  ...  37937.000000     6445.000000

[8 rows x 5 columns]

In [13]:
X.head()

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0

## Build Model

In [14]:
df_model = DecisionTreeRegressor(random_state=1)

df_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

## Prediction

In [15]:
print("Making predictions for the following 5 lines:")
print(X.head())
print("The predictions are")
print(df_model.predict(X.head()))

Making predictions for the following 5 houses:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0
The predictions are
[66900. 80100. 85700. 73400. 65500.]

In [18]:
y.head()

0    66900.0
1    80100.0
2    85700.0
3    73400.0
4    65500.0
Name: median_house_value, dtype: float64