<a href="https://colab.research.google.com/github/JuniorGunner/kaggle/blob/master/Exercises/01_kaggle_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Kaggle - Machine Learning Exercise

## Imports

In [0]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

## Tests

In [53]:
df = pd.read_csv('test_ml.csv', sep=';')

df.head()

   Unnamed: 0  ... banheiro
0           0  ...        1
1           1  ...        1
2           2  ...        2
3           3  ...        1
4           4  ...        1

[5 rows x 7 columns]

In [54]:
df.columns

Index(['Unnamed: 0', 'endereco', 'vm_obs', 'area', 'quarto', 'suite',
       'banheiro'],
      dtype='object')

## Remove 'not availables'

In [55]:
df = df.dropna(axis=0)
df.shape

(22, 7)

## Target (y)

In [0]:
y = df.vm_obs

## Features (X)

In [57]:
df_features = ['area', 'quarto', 'suite', 'banheiro']

X = df[df_features]

X.describe()

             area     quarto      suite   banheiro
count   22.000000  22.000000  22.000000  22.000000
mean    63.808636   1.545455   0.545455   1.727273
std     30.531567   0.509647   0.595801   1.077113
min     29.900000   1.000000   0.000000   1.000000
25%     47.590000   1.000000   0.000000   1.000000
50%     54.760000   2.000000   0.500000   1.000000
75%     68.420000   2.000000   1.000000   2.000000
max    129.040000   2.000000   2.000000   4.000000

In [58]:
X.head()

    area  quarto  suite  banheiro
0  47.59       2      0         1
1  55.80       2      0         1
2  60.43       1      1         2
3  47.59       2      0         1
4  63.47       2      1         1

## Build Model

In [59]:
df_model = DecisionTreeRegressor(random_state=1)

df_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

## Prediction

In [60]:
print("Making predictions for the following 5 lines:")
print(X.head())
print("The predictions are")
print(df_model.predict(X.head()))

Making predictions for the following 5 lines:
    area  quarto  suite  banheiro
0  47.59       2      0         1
1  55.80       2      0         1
2  60.43       1      1         2
3  47.59       2      0         1
4  63.47       2      1         1
The predictions are
[273673.47 279967.14 393502.33 273673.47 372314.26]

In [61]:
y.head()

0    273673.47
1    279967.14
2    393502.33
3    273673.47
4    372314.26
Name: vm_obs, dtype: float64

## Model Validation

In [62]:
# ???
predicted_prices = df_model.predict(X)
mean_absolute_error(y, predicted_prices)

0.0